@{
    ViewBag.Title = "Bolagsanalys | Logga in";
    Layout = "";
}
@model CompanyAnalysis2.WebApp.ViewModels.LoginViewModel

<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@Url.Content("~/css/stylish-portfolio.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@Url.Content("~/font-awesome-4.1.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body style="margin: 0px;">
<header class="header">
    <div class="container text-vertical-center">
        <div class="row">
            <div class="col-lg-4 col-md-4"></div>
            <div class="col-lg-4 col-md-4">
                <form id="login" action="login" method="post">
                    <div class="text-left">
                        <h1>LOGGA IN</h1>
                        <h3>E-postadress</h3>
                        <input id="Email" name="Email" class="form-control" type="text" value="@Model.Email" />
                        <h3>Lösenord</h3>
                        <input id="Password" name="Password" class="form-control" type="password" /><br />
                        @Html.CheckBox("RememberMe", true)Håll mig inloggad<br /><br />
                        <input class="btn btn-lg pull-right" type="submit" value="Logga in" /><br />
                        @Html.ValidationSummary()
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-4"></div>
        </div>
    </div>


</header>
   <script src="~/js/Account/login.js" type="text/javascript"></script>
</body>
</html>

